<tr>
    <td><code>@Name</code></td>
    <td><code>@Type</code></td>
    <td>@Default</td>
    <td>@Desc</td>
</tr>

@code {
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public string Type { get; set; } = "";
    [Parameter] public string Default { get; set; } = "";
    [Parameter] public string Desc { get; set; } = "";
}
